# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
elixirsessions-*.tar
stex_elixir-*.tar

notes*.txt

/src/*.erl

/lib/elixirsessions/parser/*.erl
/lib/stex/parser/*.erl

/lib/elixirsessions/snippets/
/lib/stex/snippets/

/priv/plts/*.plt
/priv/plts/*.plt.hash

workspace.code-workspace

secret_api.ex
